<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_post">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity
            android:name=".ui.activity.CreatePostActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CreateStoryActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.MapActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PostDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>
</manifest>