<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_utility">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name="vn.xdeuhug.seniorsociable.utility.ui.activity.FeedbackActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.xdeuhug.seniorsociable.utility.ui.activity.LookUpDiseasesActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.xdeuhug.seniorsociable.utility.ui.activity.DetailDiseaseActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.xdeuhug.seniorsociable.utility.ui.activity.InformationAppActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>