<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_chat">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity android:name=".ui.activity.PostModerationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ManagementAccountActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ReportPostActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.StatisticalActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.DetailsReportActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
    </application>
</manifest>